.scrollload-bottom {
  display: none;
}

.wrap[data-v-0cc6539f] {
  height: 100%;
}
.box[data-v-0cc6539f] {
  min-height: 100%;
  padding-bottom: 280px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f6f6f6;
}
.main[data-v-0cc6539f] {
  position: relative;
  z-index: 0;
  width: 900px;
  margin: 55px auto 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.main nav[data-v-0cc6539f] {
    background-color: #fff;
    padding: 0 12px;
}
.main .article-item[data-v-0cc6539f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 42px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}
.main .article-item[data-v-0cc6539f]:not(:last-child) {
      border-bottom: 1px dashed #ccc;
}
.main .article-item:hover .edit[data-v-0cc6539f],
    .main .article-item:hover .delete[data-v-0cc6539f] {
      display: inline-block;
}
.main .article-item .title[data-v-0cc6539f] {
      color: #0366d6;
}
.main .article-item .tool[data-v-0cc6539f] {
      margin-left: auto;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.main .article-item .edit[data-v-0cc6539f] {
      display: none;
      margin-right: 12px;
      color: #0366d6;
}
.main .article-item .delete[data-v-0cc6539f] {
      display: none;
      margin-left: 4px;
      margin-right: 6px;
      color: red;
}
.main .article-item .time[data-v-0cc6539f] {
      font-family: serif;
      color: #6a737d;
}

